
/bin/js
/bin/update

#!/bin/libs
#!/bin/raw
#!/bin/arena
#!/bin/init
#!/bin/login
#!/bin/main
#!/bin/prefabs
#!/bin/fileconfig.json
#!/bin/res
#!/bin/game.js
#!/bin/game.json
#!/bin/index.html
#!/bin/index.js
#!/bin/project.config.json
#!/bin/project.swan.json
#!/bin/swan-game-adapter.js
#!/bin/version.json
#!/bin/weapp-adapter.js

# 项目依赖项
/bin/raw/config
/src/script/config/vo/
/laya/assets/ui
/src/lockstepLogic

// suffixTool
/suffixTool/ipch
/suffixTool/.vs
/suffixTool/SuffixTool
/suffixTool/SuffixTool.sln
/suffixTool/SuffixTool.VC.db

__MACOSX

/.vscode/*
!/.vscode/launch.json.template


/.laya/wxgame.json
/.laya/web.json
/.laya/publish_wxgame.js

/.laya/chrome/*
/.rpt2_cache
*.meta
.DS_Store
/release

